* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
}

.header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  width: 100%;
  background: linear-gradient(90deg, #672280 0%, #a626d3 100%);
  border: rgb(203, 31, 209) 3px solid;
}
.header > img {
  min-width: 80px;
  max-width: 8%;

  padding: 1em;
}
.header-title {
  font-size: 1.9rem;
  font-family: Karla;
}

.form {
  display: grid;
  grid-template: 10% 10% 10% / 1fr 1fr;
  gap: 17px;
  width: 82%;
  margin: 0 auto;
  margin-top: 3em;
  height: 100%;
  margin-right: 3em;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}

.meme {
  grid-column: 1/-1;
  margin: 0 auto;
  position: relative;
  max-height: 60vh;
  max-width: 100%;
}
.meme-img {
  height: 95%;
  max-width: 96%;
}
.top-text,
.bottom-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: impact, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}
.top-text {
  top: 10%;
}
.bottom-text {
  bottom: 10%;
}

.color-input {
  align-self: center;
  border: none;
  height: 90%;
  width: 30%;
  justify-self: center;
  grid-column: 1/-1;
}

@media (min-width: 300px) and (max-width: 400px) {
  html {
    font-size: 12px;
  }
}
